/**
 * Created by yext on 2015/12/21.
 */
body{
    margin: 0;
    padding: 0;
}
/***************************头部样式**********************************/
.c-green{background-color:#7BAA1E;}
.c-fff{color: #fff !important;}
.c-title{
    text-align: center;
    color: #333;
}
.c-666{color:#666;}
.h{height: 100%}
.bar .title{font-weight: bold;}
/*************************右侧折叠菜单*********************************/
#right-box{
    overflow-x: hidden;
    width:270px;
    background-color:#ffffff;
    border-left: 1px solid #dddddd;
    position: absolute;
    top: -4px;
    right: 0;
    bottom: 0;
    z-index: 9;
}
.fold-box{
    width: 270px;
    height: 46px;
    text-align: right;
    padding-top: 6px;
}
.box-menu{
    width: 270px;
    padding-bottom: 80px;
}
.box-menu a{
    color: #666;
    font-size: 13px;
    display: block;
    /*padding: 10px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    overflow-x: hidden;
    border-bottom: 1px solid #dddddd;
}
.box-menu p{
    padding: 8px;
    margin: 0;
    border-top:  1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
/*.box-menu a:hover {*/
    /*background-color:#7BAA1E;*/
    /*color: #fff;*/
/*}*/
.box-menu .active{
    background-color:#7BAA1E;
    color: #fff;
}
/********************video播放区域**************************/
.content{
    background-image: url("../img/beijing.jpg");
    background-repeat: no-repeat;
    background-size:100%;
}
.video {
    width: 340px;
    height: 270px;
    margin: 20px auto;
}
.video video{
    width: 100%;
    height: 100%;
}
